.fcf-calculator-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.company-input {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.company-text-input {
  padding: 0.5rem;
  margin: 2px;
}

.annual-report-section {
  width: 100%;
  margin-top: 20px;
  padding: 2px;
  & hr {
    border: 1px solid black;
  }
}
